variables:
  language.c.compiler: gcc

  extra-requires:
    - program: ${language.c.compiler}
    - '@{next-value|[]}'

  tasks.patterns:
    - '**/*.c'
    - '**/*.h'
    - '@{next-value|[]}'

  build-job.tags:
    - c
    - ${language.c.compiler}
    - '@{next-value|[]}'
