variables:
  language.common-lisp.compiler: ${next-value|sbcl}

  extra-requires:
    - program: ${language.common-lisp.compiler}
    - '@{next-value|[]}'

  tasks.patterns:
    - '**/*.lisp'
    - '@{next-value|[]}'

  build-job.tags:
    - common-lisp
    - ${language.common-lisp.compiler}
    - '@{next-value|[]}'
