variables:
  language.c++.compiler: ${next-value|gcc}

  extra-requires:
    - program: ${language.c++.compiler}
    - '@{next-value|[]}'

  tasks.patterns:
    - '**/*.c'
    - '**/*.cpp'
    - '**/*.cc'
    - '**/*.h'
    - '**/*.hpp'
    - '**/*.hh'
    - '@{next-value|[]}'

  build-job.tags:
    - c++
    - ${language.c++.compiler}
    - '@{next-value|[]}'
