inherit:
  - language/common-lisp

  - build-system/asdf

  - platform-packages/programs
  - platform-packages/libraries # for foreign libraries
  - platform-packages/quicklisp

  - common-lisp-shared
  - common-lisp-source-base
