aspects:
  - name: jenkins/artifact-archiving.archive-artifacts
    aspect: archive-artifacts
    variables:
      aspect.publisher-constraints.archive-artifacts:
        - [ after, <all> ]
      aspect.archive-artifacts.file-pattern: ${archive-pattern:${mode}|${archive-pattern}}
