inherit:
  - jenkins/base

  - repository/all

  - boring

variables:
  mode: toolkit

  dependencies.mode: ${next-value|none}
  dependency-dir: ${toolkit.dir}
  dependency-dir:absolute: ${dependency-dir}
  dependency-dir:relative: ${dependency-dir}
