inherit:
  - common-lisp-shared
  - common-lisp-executable-base

variables:
  lisp.install-command: ${lisp.install-command:${mode}|${lisp.install-command:default}}
  lisp.install-command:default: |
    cp "${lisp.binary-name}" ${toolkit.dir}/bin/

  shell.command: |
    ${lisp.archive.command}

    # Set up environment
    @{lisp.environment.commands}

    # Build binary
    ${lisp.build-command}

    # Install binary
    ${lisp.install-command}
