variables:
  natures:
    - autotools
    - '@{next-value|[]}'

  extra-requires:
    - program: autoconf
    - m4-macro: ax_afs
    - program: libtoolize
    - program: pkg-config
    - '@{next-value|[]}'

  task.patterns:
    - configure.ac
    - '@{next-value|[]}'
