variables:

  natures:
    - cmake
    - '@{next-value|[]}'

  extra-requires:
    - program: cmake
    - '@{next-value|[]}'

  tasks.patterns:
    - '**/CMakeLists.txt'
    - '**/*.cmake'
    - '@{next-value|[]}'
