variables:
  natures:
    # - meson
    - '@{next-value|[]}'

  extra-requires:
    - program: meson
    - program: ninja
    - '@{next-value|[]}'

  tasks.patterns:
    - '**/meson.build'
    - '@{next-value|[]}'

  build-job.tags:
    - meson
    - '@{next-value|[]}'
